body {
    font-family: 'Times New Roman', black;
   
    font-weight: 300;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    margin-top: 0;
}


